body {
	background-color: rgb(29, 31, 33);
	color: rgb(197, 200, 198);
	display: block;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13.3333px;
	height: 2007.64px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	overflow-x: hidden;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
}

article.glass {
align-items: flex-start;
background-color: rgb(40, 42, 46);

border-bottom-color: rgb(40, 42, 46);
border-bottom-style: solid;
border-bottom-width: 1px;
border-image-outset: 0px;
border-image-repeat: stretch;
border-image-slice: 100%;
border-image-source: none;
border-image-width: 1;
border-left-color: rgb(40, 42, 46);
border-left-style: solid;
border-left-width: 1px;
border-right-color: rgb(40, 42, 46);
border-right-style: solid;
border-right-width: 1px;
border-top-color: rgb(40, 42, 46);
border-top-style: solid;
border-top-width: 1px;

color: rgb(197, 200, 198);
display: table;
flex-direction: column;
font-family: Arial, Helvetica, sans-serif;
font-size: 13.3333px;
margin-bottom: 1px;
margin-left: 1px;
margin-right: 1px;
margin-top: 1px;
max-width: 960.45px;
padding-bottom: 4px;
padding-left: 10px;
padding-right: 10px;
padding-top: 4px;
word-break: break-word;
word-wrap: break-word;

border-radius: 15px;
}


header.spaced {
	color: rgb(197, 200, 198);
	display: block;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13.3333px;
	margin-left: -14px;
	padding-left: 14px;
	word-break: break-word;
	word-wrap: break-word;
}

div.post-container {
	color: rgb(197, 200, 198);
	display: block;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13.3333px;
	/*height: 41.6562px;*/
	overflow-x: hidden;
	overflow-y: hidden;
	/*width: 398px;*/
	word-break: break-word;
	word-wrap: break-word;
}

header.spaced > time, nav {
	display: inline;
}

nav.message_num {
	color: #81a2be;
}

span.message_title {
	color: #30D5C8;
}

table.post-form-table {
	border-bottom-color: rgb(128, 128, 128);
	border-collapse: separate;
	border-left-color: rgb(128, 128, 128);
	border-right-color: rgb(128, 128, 128);
	border-top-color: rgb(128, 128, 128);
	color: rgb(0, 0, 0);
	display: table;
	font-family: arial, helvetica, sans-serif;
	font-size: 13.3333px;
	text-size-adjust: 100%;
	width: 468px;
	-webkit-border-horizontal-spacing: 1px;
	-webkit-border-vertical-spacing: 1px;
}

table.post-form-table .field-label {
	background-color: yellow;
}

